@font-face{
	font-family: 'Raleway Light';
	src: url('../../fonts/raleway-light.ttf');
	
}

@font-face{
	font-family: 'Raleway Medium';
	src: url('../../fonts/raleway-medium.ttf');
	
}

@font-face{
	font-family: 'Raleway Regular';
	src: url('../../fonts/raleway-regular.ttf');
}

@font-face{
	font-family: 'Raleway Bold';
	src: url('../../fonts/raleway-bold.ttf');
}