page-login {

	.scroll-content{
		background-color: transparent;
	}
	
	.img-input{
		height: $label-icon-size;
	}

	.background {
		background: url('../assets/imgs/background.png');
		background-size: cover;
		background-repeat: no-repeat;
		//background: color($colors, primary);
	}

	.logo-white {
		margin: 20% auto 10% auto;
		width: 70%;
	}

	.login-input{
		background: rgba(0,0,0,0);
		color: white;
		font-family: $font-family-light;
	}

	.login-form{
		margin: auto;
		width: 80%;
	}

	.standard-button  {
		border-radius: 20px;
		margin: 0 auto 1em auto;
		box-shadow: none;
		padding: 20px 30px;
		width:75%;

	}

	.ghost {
		border: 2px solid;
		background-color: transparent;
		font-family: $font-family-medium;
		color: white;
	}

	.filled {
		background-color: white;
		font-family: $font-family-medium;
		color: color($colors,filled-blue);
		margin-top: 2em;
	}

	.social-network-button {
		margin-top: 1em;
		width: 10em;

		img {
			vertical-align: middle;
			width: 25px;
			height: 25px;
			margin-right: 10px;
		}

	}

	#forgot-password{
		margin-top: 2em;
		margin-left: 1.5em;
		font-family: $font-family-light;
		font-size: 0.8em;
		position: relative;
		color: white;

	}

	#img-tour{
		margin: auto;
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
	}

	.bold {
		color: white;
		font-size: $bold-font-size;
		font-weight: 700;
	}

	.with-text {
		font-family: $font-family-light;
		font-size: $with-font-size;
		color: white;

		span {
			position: relative;
			display: inline-block;
		}

		span:before,span:after {
			content: '';
		    position: absolute;
		    top: 50%;
		    border-bottom: 1px solid rgba(255,255,255,0.2);
		    width: 5em;
		    margin: 0 20px;

		}

		span:before {
			right: 100%;
		}

		span:after {
			left: 100%;
		}
	}


	.with-text:before {
		left: 0;

	}

	.with-area{
		text-align: center;
		margin: auto;

	}

	@media only screen and(max-height: 600px) {
		.logo-white {
			margin: 10% auto 5% auto;
		}


	}


}
